<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>vue-router应用</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="js/vue.js"></script>	
		<script src="js/vuex.js"></script>
		<script src="js/vue-router.js"></script>	
		<style>
			*{
				padding: 0;
				margin: 0;
			}
			li{
				list-style: none;
			}
			a{
				text-decoration: none;
			}
			#app{
				width: 100vw;
				height: 100vh;
			}
			nav{
				width: 100%;
				position: absolute;
				bottom: 0;
			}
			nav ul{
				display: flex;
				justify-content: space-around;
				text-align: center;
				padding: 0;
			}
			nav ul a{
				color: #999;
			}
			nav ul .fa{
				font-size: 20px;
			}
			nav ul p{
				font-size: 14px;
			}
			nav .router-link-active{
				color: #04A6DA;
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<router-view></router-view>
			</div>
			
			<nav v-if="flag">
				<ul>
					<li>
						<router-link to="/qq">
							<i class="fa fa-qq"></i>
							<p>消息</p>
						</router-link>
					</li>
					<li>
						<router-link to="/address">
							<i class="fa fa-address-book"></i>
							<p>联系人</p>
						</router-link>	
					</li>
					<li>
						<router-link to="/play">
							<i class="fa fa-play-circle"></i>
							<p>看点</p>
						</router-link>	
					</li>
					<li>
						<router-link to="/globe">
							<i class="fa fa-globe"></i>
							<p>动态</p>
						</router-link>	
					</li>
				</ul>
			</nav>
		</div>
		<!--<script type="module" src="qq.js"></script>-->
		<script>
			var store = new Vuex.Store({
				state: {
					flag: true,
				},
				mutations: {
					changeFlag (state,data){
						state.flag = data;
					}
				}
			});
			var qq = {
				template: `
				<div>
					<h1>消息</h1>
					<p>......</p>
				</div>	
				`,
			};
			var address = {
				template: `
				<div>
					<h1>联系人</h1>
					<ul>
						<li v-for="item in friendList">
							<router-link :to="{name:'wechat',params:{name:item.name}}">
								{{item.name}}
							</router-link>
						</li>
					</ul>
				</div>
				`,
				/*<li><router-link to="/wechat/联系人1">联系人1</router-link></li>
				<li><router-link to="/wechat/联系人2">联系人2</router-link></li>
				<li><router-link to="/wechat/联系人3">联系人3</router-link></li>
				<li><router-link to="/wechat/联系人4">联系人4</router-link></li>*/
				data (){
					return {
						friendList: [{
							pic: 'img/image01.png',
							name: 'xiaoming',
							word: 'fasfsfsd'
						},{
							pic: 'img/image02.png',
							name: 'xiaohong',
							word: 'fasfsfsd'
						},{
							pic: 'img/image03.png',
							name: 'xiaohui',
							word: 'fasfsfsd'
						},{
							pic: 'img/image04.png',
							name: 'xiaogang',
							word: 'fasfsfsd'
						}]
					}				
				},
				mounted (){
					if(this.$route.meta.ishidenav){
						this.$store.commit('changeFlag',false)
					}else{
						this.$store.commit('changeFlag',true)
					}
				},
			};
			var play = {
				template: `
				<div>
					<h1>看点</h1>
					<p>......</p>
				</div>	
				`,
			};
			var globe = {
				template: `
				<div>
					<h1>动态</h1>
					<p>......</p>
				</div>
				`,
			};
			var wechat = {
				template: `
				<div>
					<button class="btn btn-default" @click="$router.back()">返回</button>
					<h1 class="text-center">{{$route.params.name}}</h1>
					<div>聊天内容区</div>
					<footer><input type="text"/><button>点击</button></footer>
				</div>
				`,
				mounted (){
					if(this.$route.meta.ishidenav){
						this.$store.commit('changeFlag',false)
					}else{
						this.$store.commit('changeFlag',true)
					}
				},
				
			};
			var router = new VueRouter({
				routes:[{//所有路径都设置在路由中
					path:'/qq',
					component: qq
				},{
					path:'/address',
					component: address
				},{
					path:'/play',
					component: play
				},{
					path:'/globe',
					component: globe
				},{
					path:'*',//路径错误时，设置默认路径
					redirect: '/qq'//重定位路径
				},{
					path:'/wechat/:name',//:name是属性
					name: 'wechat',//动态添加时需要加个名字或ID以便找到此路径
					component: wechat,
					meta: {
						ishidenav: true
					}
				},]
			});
			new Vue({
				el: '#app',
				store,
				router,
				computed: {
					flag (){
						return this.$store.state.flag;
					}
				}
			})
		</script>
	</body>
</html>
